@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,700&family=Raleway:wght@200;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(to right, #e9f8ff, #90b2d8, #c1e3ff);
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

.site-brand {
  color: navy;
  font-style: italic;
  font-family: 'Bangers', cursive;
  vertical-align: top;
  font-size: 25px;

}

.navbar-nav {
  
  position: absolute;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
   margin-right: 30px; 
  transition: 0.3s ease;
  border-radius: 20px;
  right: 0px;

}

/* margin style for the navbar */
ul.navbar-nav {
  margin-top: 3rem;
  margin-right: 2rem;
}

a {
  text-decoration: none;
  text-align: center; 

}


a:hover {
  background: #82acc7;
}


/* button style */
button {
  font-size: 1rem;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1320px;
  padding: 0 1rem;
  margin: 0 auto;
}

/* styling the form questionnaire */
.flex {
  display: flex;
  font-weight: 400;
  opacity: 0.9;
  line-height: 1.6;
  letter-spacing: 1px;
}

#questionnaire {
  display: flex;
  justify-content: center;
  width: 75%;
  border: 1rem rgba(32, 67, 131, .7) outset;
  border-radius: 6px;
  background-image: url("../Img/tropical.jpg");
  margin: 2rem auto auto auto;
  padding: 3rem;

}

legend {
  margin-bottom: 1rem;
  background-color: #42B7FF;
  border: outset black 2px;
  border-radius: 6px;
  font-size: xx-large;
  padding: 1rem;
}

label {
  display: inline;
  margin-right: 10px;
  font-size: xx-large;
}

input {
  width: 40px;
  height: 20px;
}

#answer-one {
  background-color: rgb(20, 78, 150);
  border: outset black 2px;
  border-radius: 6px;
}

#answer-two {
  background-color: rgb(20, 78, 150);
  border: outset black 2px;
  border-radius: 6px;
}

#answers {
  display: flex;
  justify-content: center;
}

button {
  display: block;
  width: max-content;
  height: 50px;
  border: thin black outset;
  border-radius: 6px;
  margin-top: 1rem;
  float: right;
  background-color: #42B7FF;
  font-size: larger;
}

button:hover {
  background-color: rgb(26, 221, 235);
  transition: 0.7s;
}

#resultsDiv {
  display: flex;
  justify-content: center;
}

#resultsButton {
  width: max-content;
  background-color: #42B7FF;
}


/* styling the feture places title */
.feat-title {
  padding: 4rem 0;
}

/* style image in diplay block */
img {
  width: 100%;
  display: block;
}


.btn {
  padding: 0.2rem 0.2rem;
   border-radius: 0.2rem; 
  font-weight: 600;
  background-color:var(--green); 
  color: #fff;
   border: 1px solid var(--green); 

}

.btn:hover {
  opacity: 0.9;
}


.title-wrap {
  text-align: center;
  padding: 1.4rem 0;
  margin-bottom: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.lg-title {
  font-size: 1.8rem;
}

.sm-title {
  display: block;
  color: #787878;
  font-weight: 300;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  max-width: 450px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.7;
}


.shadow:hover {
  -webkit-box-shadow: 0px 0px 18px -4px rgba(109, 109, 109, 0.64);
  box-shadow: 0px 0px 18px -4px rgba(109, 109, 109, 0.64);
}


@media screen and (min-width: 768px) {
  .header-title p {
    font-size: 1.4rem;
  }

  .featured-row,
  .services-row,
  .footer-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .featured-item,
  .services-item {
    margin: 0;
  }

  .footer-row {
    text-align: left;
  }

  .subscribe-form form {
    align-items: flex-start;
  }
}
a{
  color: blue;
}


@media screen and (min-width: 992px) {
  .header-title h1 {
    font-size: 4rem;
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    margin: 0;
  }

  .nav-item {
    margin: 0;
    margin-left: 2rem;
  }

  .footer-row {
    grid-template-columns: repeat(4, 1fr);

  }

  @media screen and (min-width: 1400px) {

    .featured-row,
    .services-row {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  /* styling for every <p> tag */
  .text {
    margin-top: 1rem;
  }
}

/* styling subsribe form */
.form-control {
  width: 100%;
  margin: 0.6rem 0;
  max-width: 500px;
  border: 1px solid #fff;
  border-radius: 0.2rem;
  padding: 0.7rem;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  background-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.copyright {
  text-align: center;
  margin-top: 70px;
}
