@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,700&family=Raleway:wght@200;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
}


html, body{
  font-family: 'Open Sans', sans-serif;
  background-color: lightpink;
  background: linear-gradient(to right, #e9f8ff, #90b2d8, #c1e3ff);
  background-repeat: repeat;
  background-size: cover;
}

.site-brand{
  color: white;
  font-style: italic;
  font-family: 'Bangers', cursive;
  vertical-align: top;
}

.navbar-nav{
  position: relative;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  margin-right: 40px;
  transition: 0.3s ease;
  border-radius: 20px;
  bottom: 150px;
}


a{
  text-align: center;
  color: blue;
  text-decoration: none;
  font-size: 1rem;
}

a:hover{
  background: #82acc7;
}

button{
  font-size: 1rem;
  padding: 5px 20px 5px 20px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
}

#navbar-show-btn{
  display: none;
}

#navbar-collapse{
  display: block;
  background-color: transparent;
  height: auto;
  padding: 0;
  position: static;
  width: 100%;
}

#navbar-close-btn{
  display: none;
}

.navbar-nav{
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-right: 20px;
}

.nav-item{
  margin: 0;
  margin-left: 2rem;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 30px;
}

#resultsPage {
  width: 75%;
  display: flex;
  margin: auto;
  flex-direction: column;
}

#resultsPage img {
  width: 75%;
  display: flex;
  margin: auto;
}

#resultsPage h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.8rem;
  text-align: center;
}

#resultsPage p {
  display: flex;
  margin: auto;
  width: 75%;
  text-align: center;
  margin-top: 30px;
}

#results {
  width: fit-content;
  display: flex;
  margin: auto;
}

.content a {
  display: flex;
  font-size: 1.3rem;
  margin: auto;
  margin-top: 10px;
  width: max-content;
  text-align: center;
  background-color: gray;
  padding: 5px;
  border-radius: 6px;
}

.content a:hover {
  background-color: darkgray;
  transform: scale(1.3);
  transition: 0.7s;
}

.copyright{
  text-align: center;
  margin-top: 70px;
}
